@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
section{
    margin-top: 5%;
}
body{
   padding-left: 0;
   background-color: black;
}
.row{
    border: 5px solid 	#ff0000;
}
.row::after{
    content: "";
    background: url(../img/home-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    left: 50px;
    top: 50px;
    right: 50px;
    bottom: 0px;
    position: absolute;
    z-index: -1;
}
h1{
    font-size: 26px !important;
}
span{
    color: lime;
    font-family: Trade Winds;
    font-size: 22px !important;
}
.icon img{
    height: 40px;
    width: 50px;
    padding: 1px;
    margin-top: -2%;
    border-radius: 80%;
    margin-bottom: -1.25%;
    opacity: 30%;
    transition: 0.6s;
}
.icon img:hover{
    opacity: 100%;
    height: 42px;
    width: 55px;
    transition: 0.6s;
}
/* =====================Custom Responsive========================== */
@media(max-width:1200px){
    .icon img{
        height: 30px;
        width:42px;
        padding: 0px;
    }
}
@media(max-width:992px){
    h1{
        font-size: 23px !important;
    }
    span{
        font-size: 18px !important;
    }
    .icon img{
        height: 30px;
        width: 40px;
        padding: none;
    }
    .col-sm-12{
        text-align: center;
    }
}
@media(max-width:768px){
    .col-sm-12{
        text-align: center;
    }
    .icon img{
        opacity: 100%;
    }
}
@media(max-width:576px){
    .col-sm-12{
        text-align: center;
    }
    .icon img:hover{
        opacity: 100%;
        height: 30px;
        width: 40px;
    }
}
/* ====================================================== */