body{
    padding-left: 1%;
    background-color: black;
}
.navbar-brand
{
font-size: 20px;
}
.navbar-brand:hover{
    font-weight: bold;
    font-size: 20.1px;
    transition: 0.3s;

}
.nav-link:hover{
transition: 0.2s;
font-weight: bold;
}
p{
    position: relative;
}
.top-p{
    padding-top: 33px;
}